# ROS2 build, install, log directories
/build/
/install/
/log/

# ROS2 workspace specific files
.rosinstall
.vscode/
.idea/

# Python related
*.pyc
__pycache__/
*.pyo
*.pyd
.coverage
nosetests.xml
coverage.xml
*.cover

# CMake related
CMakeLists.txt.user
CMakeCache.txt
*.cmake
Makefile
.ninja/

# Environment settings
.env
.venv

